node_modules/
test/a1test*
test/a2test*
test/*.e
demos/*.e
src/*.e
test/*.o
demos/*.o
src/*.o
*.bst
*.hex
test/*.lst
demos/*.lst
src/*.lst
name.nnn
ex0306.a
demos/demo*1.a
demos/ptest.a
demos/ptest.o
.vscode/*
test/*.bin
scratch/
plusdemos/*.ep
cit118demos/
lccjs.zip
.env
